<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-lg">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img
        src="logo.png"
        width="30"
        height="30"
        class="d-inline-block align-top mr-2"
        alt="Logo"
      />
      Brainiacs
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav text-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-of-smart-guys"
            >List of smart guys</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Help</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
