<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="header-custom">
      <i class="fa fa-users"></i> List of smart guys
    </h2>
    <button
      class="btn btn-dark d-flex justify-content-between align-items-center gap-2"
      (click)="openAddUserModal()"
      style="background-color: #44001a; border-color: #44001a"
    >
      <i class="fa fa-plus"></i> Add brainiac
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead class="custom-thead">
        <tr>
          <th>Id</th>
          <th>First name</th>
          <th>Last name</th>
          <th>E-mail</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          app-user-row
          *ngFor="let user of users"
          class="align-middle"
          [user]="user"
          (edit)="openEditUserModal($event)"
          (delete)="ConfirmDeleteUser($event)"
        ></tr>
      </tbody>
    </table>
  </div>
</div>
