.custom-thead {
    --bs-table-bg: #b15b5b;
    --bs-table-color: #fff;
    background-color: var(--bs-table-bg) !important;
    color: white !important;
  }
  
  .text-custom {
    color: #44001a;
  }
