.btn-primary {
  background-color: #44001a;
  border-color: #44001a;
}

.btn-secondary {
  background-color: #c75b5b;
  border-color: #c75b5b;
}

.modal-footer {
  padding-bottom: 0;
  padding-inline: 0;
}